.wedding-sprite-desktop{
	display: inline-block;
	vertical-align:middle;
	background-image: url('/public/img/weddings/general/css-sprites-desktop.png');
    /*background-size: 420px;*/
	background-repeat: no-repeat;
}

.bg-checkbox {
    width: 26px; height: 26px;
    background-position: -136px -207px;
}
.bg-checkbox-checked {
    width: 26px; height: 26px;
    background-position: -90px -207px;
}
.bg-radio-checked {
    width: 26px; height: 26px;
    background-position: -182px -207px;
}
.bg-chevron-left-pink {
    width: 20px; height: 50px;
    background-position: -10px -207px;
}
.bg-chevron-left-white {
    width: 20px; height: 50px;
    background-position: -50px -207px;
}
.bg-chevron-right-pink {
    width: 21px; height: 50px;
    background-position: -111px -113px;
}
.bg-chevron-right-white {
    width: 21px; height: 50px;
    background-position: -152px -113px;
}
.bg-mini-chevron-down-pink {
    width: 14px; height: 7px;
    background-position: -324px -165px;
}
.bg-mini-chevron-down-white {
    width: 14px; height: 7px;
    background-position: -169px -277px;
}
.bg-mini-chevron-left-pink {
    width: 7px; height: 14px;
    background-position: -193px -113px;
}
.bg-mini-chevron-left-white {
    width: 7px; height: 14px;
    background-position: -10px -322px;
}
.bg-mini-chevron-right-pink {
    width: 7px; height: 14px;
    background-position: -193px -147px;
}
.bg-mini-chevron-right-white {
    width: 7px; height: 14px;
    background-position: -37px -322px;
}
.bg-mini-chevron-up-pink {
    width: 14px; height: 7px;
    background-position: -135px -277px;
}
.bg-mini-chevron-up-white {
    width: 14px; height: 7px;
    background-position: -203px -277px;
}
.bg-mail-icon-desk {
    width: 23px; height: 15px;
    background-position: -319px -207px;
}
.bg-facebook-logo {
    width: 25px; height: 25px;
    background-position: -274px -207px;
}
.bg-instagram-logo {
    width: 25px; height: 25px;
    background-position: -10px -277px;
}
.bg-twitter-logo {
    width: 26px; height: 26px;
    background-position: -228px -207px;
}
.bg-youtube-logo {
    width: 25px; height: 25px;
    background-position: -55px -277px;
}
.bg-five-diamond-award {
    width: 81px; height: 74px;
    background-position: -10px -113px;
}
.bg-four-diamond-award {
    width: 89px; height: 83px;
    background-position: -10px -10px;
}
.bg-travelers-choice {
    width: 84px; height: 78px;
    background-position: -119px -10px;
}
.bg-lang-icon {
    width: 15px; height: 15px;
    background-position: -324px -130px;
}
.bg-phone-icon {
    width: 15px; height: 15px;
    background-position: -100px -277px;
}
.bg-le-blanc-resorts {
    width: 81px; height: 46px;
    background-position: -223px -130px;
}
.bg-moon-palace {
    width: 120px; height: 37px;
    background-position: -223px -10px;
}
.bg-palace-resorts {
    width: 94px; height: 43px;
    background-position: -223px -67px;
}