.tab {
    // overflow: hidden;   // CHECK
    //border: none;
    //color: red;
}

.container {
    position: relative;
    border-top: 0px solid $white;
}

.triangle {
    position: absolute;
    //margin: auto;
    top: 30px;
    //left: 77px;
    //right: 0;
    // width: 25px;
    // height: 25px;
    /* transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 1px solid var(--light-melon);
    border-bottom: 1px solid var(--light-melon); */


    
    // width: 0;
    // height: 0;
    border-style: solid;
    border-width: 25px 25px 0 25px;
    border-color:$white $black transparent transparent;
    filter: drop-shadow(0 1px 0 var(--light-melon));
    /* background-color: $black; */
    /* filter: invert(1); */
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: var(--light-melon);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 14px 0;
    transition: 0.3s;
    border-radius: 4px;
    color:$white;
}

.back{
    padding: 0 1px;
    background:$white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    //padding-left: 10px;
    background-color: var(--light-melon-mdl);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: $white;
    border: 1px solid var(--light-melon);
    color: var(--light-melon);
    position: relative;

    &::after {
        content: ' ';
        // background-color: blue;
        // width: 0;
        //left: 14%;
        // position: absolute;
        // border-style: inset;
        // height: 0;
        
        // z-index: -1;
        // transform: rotate(-135deg);
        // top: 26%;
        // border-width: 0 16px 40px 16px;

        position: absolute;
        // right: 0px;
        top: 37px;// 20.9px;
        left: 50%;
        width: 16px;
        height: 16px;
        background-color: var(--white);
        color: var(--white);
        transform: rotate(45deg);
        border-style: solid;
        border-width: 1px;
        border-bottom-color: var(--rosy-pink);
        border-right-color: var(--rosy-pink);

        /* margin: 0 0 0 -40px;
        position: absolute;
        top: 44px;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color:$white #c5bebe00 transparent transparent;
        filter: drop-shadow(0 1px 0 var(--light-melon)); */
    }
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 0;
    border: 1px solid $white;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */ /* Animation*/
}

  /* Go from zero to full opacity */ /* Animation*/
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* .flechaDown_er{
    position: relative;
    right: 0px;
    top: 20.9px;
    width: 16px;
    height: 16px;
    background-color: var(--white);
    color: var(--white);
    transform: rotate(45deg);
    border-style: solid;
    border-width: 1px;
    border-bottom-color: var(--rosy-pink);
    border-right-color: var(--rosy-pink);
} */